In [3]:
# Import libraries
import pandas as pd
from sqlalchemy import create_engine

# --- 1. Connect to Postgres ---
DB_USER = "dev"
DB_PASSWORD = "dev"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "forumdb"

# SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# --- 2. List all tables ---
tables_query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema='public'
"""
tables = pd.read_sql(tables_query, engine)
print("Tables in database:")
print(tables)

# --- 3. Load a table into pandas ---
# Replace 'users' with your actual table name
df_users = pd.read_sql("SELECT * FROM users", engine)

# --- 4. View data ---
print("\nUsers table preview:")
display(df_users.head())

Tables in database:
  table_name
0      users

Users table preview:

,id,username,email,password,created_at,updated_at,deleted_at
0,1,admin,john@example.com,$2a$12$JTlPAtWuIvb89op5VMpPyOfPYGlbMAcPLGpLxPk...,2025-08-24 17:41:41.385753+00:00,2025-08-24 17:41:41.385753+00:00,None